<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
</header>
<main>

	<h1>Input</h1>

	<form action="video" method="GET">
		<input type="text" name="url" placeholder="url...">
		<button type="submit">Send</button>
	</form>

</main>

<footer>
</footer>

</body>
</html>