<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
</header>
<main>

	<h1>Video - <a href="download{{ link }}">Download</a></h1>

	<video controls src="{{ url }}"></video>

	<p>{{ cmd }}</p>

</main>

<footer>
</footer>

</body>
</html>